In [2]:
import pandas as pd

df = pd.DataFrame({'name' : ['김지훈', '이융진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math' : [50, 60, 100, 20]})

df

  name  english  math
0  김지훈       90    50
1  이융진       80    60
2  박동현       60   100
3  김민지       70    20

In [6]:
import pandas as pd

df = pd.DataFrame({'name' : ['김지훈', '이융진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math' : [50, 60, 100, 20]})

print(sum(df['english']))
print(sum(df['math']))

300
230

In [7]:
import pandas as pd

df = pd.DataFrame({'name' : ['김지훈', '이융진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math' : [50, 60, 100, 20]})

print(sum(df['english']) / 4)
print(sum(df['math']) / 4)

75.0
57.5

In [3]:
import pandas as pd

df = pd.DataFrame({'제품' : ['사과', '딸기', '수박'],
                   '가격' : [1800, 1500, 3000],
                   '판매량' : [24, 38, 13]})

df

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [1]:
import pandas as pd

df = pd.DataFrame({'제품' : ['사과', '딸기', '수박'],
                   '가격' : [1800, 1500, 3000],
                   '판매량' : [24, 38, 13]})

print(sum(df['가격'] / 3))
print(sum(df['판매량']) / 3)

2100.0
25.0